*{
    font-family: 'Poppins', sans-serif; 
}

.h-font{
    font-family: 'Poppins', sans-serif;
    color: white;
}

.bg-custom {
    background-color: #134356;
}


.navbar-nav .nav-link {
    font-size: 18px;
  }
  

  /* Tamaño del logo */ 
  .navbar-brand img {
    max-height: 100px; 
    width: auto; /* Para mantener la proporción de la imagen */
  }

  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



.custom-bg{
  background-color: #275466;
  
}

.custom-bg:hover{
  background-color: #134356;
  border-color: #134356;
  
}
  
.availability-form{
   
    margin-top: -50px;
    z-index: 2;
    position: relative;
  }

.banner{
  width: 100%;
  height: 45vh;
  background-image: url(images/banner.jpg);
  background-size: cover;
  background-position: 69%;
}
.banner-text h1{
  font-size: 70px;
  color: whitesmoke;
  text-align: center;
  font-weight: bold;
  padding-top: 100px;
  
}
.pf-text h2{
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 30px;
}
.pf-text h3{
  font-size: 16px;
  padding-bottom: 30px;
  text-align:justify;
}

